<ul class="list-unstyled download-list clearfix">
  <li>
    <a class="download epub" href="https://commons.laws.africa/akn{{ page.frbr_uri }}/{{ page.language }}@{{ page.expression_date }}.epub" target="_blank">
      <span class="title">{{ page.title }}</span>
      <span class="format">
        ePUB
      </span>
    </a>
  </li>
  <li>
    <a class="download pdf" href="https://commons.laws.africa/akn{{ page.frbr_uri }}/{{ page.language }}@{{ page.expression_date }}.pdf" target="_blank">
      <span class="title">{{ page.title }}</span>
      <span class="format">
        PDF
      </span>
    </a>
  </li>
</ul>
