<ul class="list-unstyled download-list clearfix">
  <li>
    <a class="download epub" href="resources/{{ page.language }}.epub" target="_blank">
      <span class="title">{{ page.title }}</span>
      <span class="format">
        ePUB
      </span>
    </a>
  </li>
  <li>
    <a class="download html" href="resources/{{ page.language }}.html" target="_blank">
      <span class="title">{{ page.title }}</span>
      <span class="format">
        HTML
      </span>
    </a>
  </li>
  <li>
    <a class="download pdf" href="resources/{{ page.language }}.pdf" target="_blank">
      <span class="title">{{ page.title }}</span>
      <span class="format">
        PDF
      </span>
    </a>
  </li>
</ul>
