<footer class="py-5" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav class="mb-3">
          <h5>Openbylaws.org.za</h5>
          <p>
          Open By-laws is a community effort to make South African by-laws easy to find, ready and share. <a href="/about.html">Find out more</a>.
          </p>
          <p>
          Thank you to <a href="/about.html#contributors">our contributors</a>. Much love.
          </p>
          <p>
          A project by <a href="https://laws.africa">Laws.Africa</a>.
          </p>
          <img src="/img/logo-lg.png" style="max-width: 75px">
        </nav>
      </div>

      <div class="col-md-3">
        <nav class="mb-3">
          <h5>Municipalities</h5>
          <ul>
            {% assign places = site.data.places | sort: "name" %}
            {% for place in places %}
              {% if place.special %}{% else %}
                <li>
                  <a href="{% if place.microsite %}https://{{ place.bucket }}/{% else %}/{{ place.code }}/eng/{% endif %}">{{ place.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div class="col-md-3 mb-3">
        <h5>Contact Us</h5>
        <ul>
          <li>
            <a href="https://twitter.com/OpenByLawsZA">
              <i class="fab fa-twitter"></i>
              @OpenByLawsZA on Twitter
            </a>
          </li>
          <li>
            <a href="https://facebook.com/openbylaws.org.za">
              <i class="fab fa-facebook-square"></i>
              Open By-laws on Facebook
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/contact.html">Contact Us</a>
          </li>
        </ul>
        <p>
        We aren't lawyers and cannot offer legal support. Always get a professional legal opinion.
        </p>
        <div>
          Sign up to our mailing list:
        </div>
        <form action="//openbylaws.us8.list-manage.com/subscribe/post?u=8d5d7d360e06d41a55d4de581&amp;amp;id=39dbd074dc" id="subscribe" method="post" target="_blank">
          <div class="input-group">
            <input class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" required="required" type="email">
            <div class="input-group-append">
              <button class="btn btn-primary" name="subscribe" type="submit">Sign up</button>
            </div>
          </div>
          <div style="position: absolute; left: -5000px;">
            <input name="b_8d5d7d360e06d41a55d4de581_39dbd074dc" tabindex="-1" type="text" value="">
          </div>
        </form>

      </div>
    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-sm-9">
        The HTML and XML legislation documents are licensed under
        a <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International License</a>.
      </div>
      <div class="col-sm-3 text-right">
        <a href="https://creativecommons.org/licenses/by/4.0/" rel="license">
          <img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/88x31.png" style="border-width:0">
        </a>
      </div>
    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-md-8">
        <p class="small">
        Laws.Africa is a non-profit organisation registered with the South African Department of Social Development, registration number 216-824 NPO.
        </p>
      </div>
      <div class="col-md-4 text-right">
        <img alt="Laws.Africa logo" src="/img/lawsafrica-logo-horizontal.png" width="200px">
      </div>
    </div>
  </div>
</footer>
