<header class="lawsafrica-site-header">
  <div class="container">
    <a href="https://laws.africa">
      <img alt="A Laws.Africa project" src="img/lawsafrica-logo-horizontal.png" width="150px">
    </a>
  </div>
</header>

<header id="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">

    <div class="container">
      <a class="navbar-brand mr-5" href="/">
        <div class="d-none d-sm-block">Open By-laws South Africa</div>
        <div class="d-block d-sm-none">Open By-laws</div>
      </a>

      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-3">
            <a class="nav-link" href="/about.html">About</a>
          </li>
        </ul>

        <form action="/search.html" class="form-inline my-2 my-lg-0" method="get" role="search">
          <input aria-label="Search" class="form-control" name="q" placeholder="Search" type="text">
        </form>
      </div>
    </div>

  </nav>
</header>
