<form action="https://africa.us19.list-manage.com/subscribe/post?u=60b61dad66a60a0c85266a68c&id=098ca0e4c8" id="subscribe" method="post" target="_blank">
  <input type="hidden" value="4" name="group[5167][4]">
  <div class="input-group">
    <input class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Your email address" required="required" type="email">
    <div class="input-group-append">
      <button class="btn btn-primary" name="subscribe" type="submit">Sign up</button>
    </div>
  </div>
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input name="b_60b61dad66a60a0c85266a68c_098ca0e4c8" tabindex="-1" type="text" value="">
  </div>
</form>
