---
layout: base
---

{% assign place = site.data.places|where: "code", page.place_code|first %}
{% assign work = site.data.works[page.place_code] | where: "frbr_uri", page.frbr_uri | first %}

<header class="{% if page.stub %}{% else %}pb-0{% endif %}">
  <div class="container">
    <div class="header-content">
      <ol class="list-inline breadcrumbs region">
        <li>
          {% unless place.special %}
            <a href="/{{ page.place_code }}/{{ page.language }}/">{{ place.name }}</a>
          {% endunless %}
        </li>
      </ol>
      <h1>
        {{ page.title }}
        {% if work.repeal %}
          <span class="badge badge-danger">repealed</span>
        {% endif %}
      </h1>
      {% if work.numbered_title %}
        <h2 class="text-muted mt-1">{{ work.numbered_title }}</h2>
      {% endif %}
      {% unless work.stub %}{% if work.multiple_pits %}
        <h2 class="mt-1">
          as from {{ page.expression_date | date:"%e %B %Y" }}
          {% if page.latest_expression %}
            onwards
          {% else %}
            to {{ page.in_force_to | date:"%e %B %Y" }}
          {% endif %}
        </h2>
      {% endif %}{% endunless %}

      {% unless work.stub %}
        <nav class="bylaw-nav">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a aria-controls="main" aria-selected="true" class="nav-link active" data-toggle="tab" href="#main" id="main-tab" role="tab">By-law</a>
            </li>
            <li class="nav-item">
              <a aria-controls="toc" class="nav-link" data-toggle="tab" href="#toc" id="toc-tab" role="tab">
                <span class="d-none d-sm-inline">Table of</span>
                Contents
              </a>
            </li>
            <li class="nav-item">
              <a aria-controls="resources" class="nav-link" data-toggle="tab" href="#resources" id="resources-tab" role="tab">
                History
              </a>
            </li>
            <li class="ml-auto d-none d-md-block social-buttons">
              <a class="fb-share" href="#">
                <i class="fab fa-facebook"></i>
                Share
              </a>
              <a class="twitter-share" href="#" text="Advertising and Signage">
                <i class="fab fa-twitter"></i>
                Tweet
              </a>
            </li>
          </ul>
        </nav>
      {% endunless %}
    </div>
  </div>
</header>

<article>
  <div class="container">
    {% if page.languages.size > 1 %}
      <div class="lang-changer">
        Change language:

        <ul class="list-inline">
          {% for lang in page.languages %}
            <li class="list-inline-item">
              <a href="../{{ lang.code }}{% unless page.latest_expression %}@{{ page.expression_date }}{% endunless %}/" class="{% if page.language == lang.code %}text-muted{% endif %}">{{ lang.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div id="notices">
      {% include work_notices.html %}
    </div>

    {% if work.stub %}
      <article class="akoma-ntoso-container stub">
        <la-akoma-ntoso class="flash-target">
          <la-decorate-terms link-terms popup-definitions></la-decorate-terms>
          <la-decorate-internal-refs popups flag></la-decorate-internal-refs>
          {{ content }}
        </la-akoma-ntoso>
      </article>

      {% include work_stub.html %}

    {% else %}
      <div class="tab-content">
        <div aria-labelledby="main-tab" class="tab-pane fade show active" id="main" role="tabpanel">
          <div class="row">
            <div class="col-md-4">
              <nav class="left-nav">
                <aside>
                  <h5>Download for later</h5>

                  {% include downloads.html %}
                </aside>

                <aside class="toc">
                  <h5>Table of Contents</h5>

                  {% include toc.html %}
                </aside>
              </nav>

            </div>
            <div class="col-md-8">
              <article class="akoma-ntoso-container" id="top" lang="{{ page.language2 }}">
                <la-akoma-ntoso class="flash-target">
                  <la-decorate-terms link-terms popup-definitions></la-decorate-terms>
                  <la-decorate-internal-refs popups flag></la-decorate-internal-refs>
                  {{ content }}
                </la-akoma-ntoso>
              </article>
            </div>
          </div>
        </div>

        <div aria-labelledby="toc-tab" class="tab-pane fade" id="toc" role="tabpanel">
          <section class="toc">
            {% include toc.html %}
          </section>
        </div>

        <div aria-labelledby="resources-tab" class="tab-pane fade" id="resources" role="tabpanel">
          <section class="resources">
            <div class="mt-3">
              <div class="row">
                <div class="col-sm-8 mb-3">
                  {% include work_history.html %}
                </div>

                <div class="col-sm-4">
                  <div class="downloads mb-3">
                    <h3>Download for later</h3>

                    <p>Download the current version of this By-law to read later on your desktop, e-reader or tablet.</p>

                    {% include downloads.html %}
                  </div>

                  {% unless place.special %}
                    <h3>{{ place.name }}</h3>
                    <p>
                      <a href="{{ place.bylaws_url }}">
                        <img src="/img/municipalities/{{ place.code }}-logo.png">
                      </a>
                    </p>

                    <p>
                      <a href="{{ place.bylaws_url }}">{{ place.name }} By-laws Website</a>
                    </p>
                  {% endunless %}
                </div>
              </div>
            </div>

          </section>
        </div>
      </div>

    </div>
  {% endif %}
</article>
